<launch>

  <!-- robot communication and control - rflex -->
  <node pkg="atrv_mini_ros" type="atrv_mini_node" name="atrv_node" output="screen">
    <param name="port" value="/dev/ttyUSB0"/>
  </node>

  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop 
  <node pkg="nodelet" type="nodelet" name="teleop_velocity_smoother" args="load yocs_velocity_smoother/VelocitySmootherNodelet mobile_base_nodelet_manager">
    <rosparam file="$(find atrv_mini_ros)/launch/param/smoother.yaml" command="load"/>
    <remap from="teleop_velocity_smoother/raw_cmd_vel" to="/ATRVmini_joy/cmd_vel"/>
    <remap from="teleop_velocity_smoother/odometry" to="/ATRVmini_node/odom"/>
    <remap from="teleop_velocity_smoother/smooth_cmd_vel" to="/ATRVmini_joy/cmd_vel"/>
  </node>-->

</launch>
