<launch>
  <!-- atrv_mini_teleop_key already has its own built in velocity smoother -->
  <node pkg="atrv_mini_ros" type="atrv_mini_teleop_key" name="atrv_mini_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="atrv_mini_keyboard/cmd_vel" to="/ATRVmini_node/cmd_vel"/>
  </node>
</launch>
